h1{
   color:red
   font-size: 50px
}
h2, h3{ color:white;
   opacity: 0.75
   font-size: 25px;
}
img{size:100px
}
p{
   position:relative;
       left: 20px;
}

body{background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(26%, rgba(248,80,50,1)), color-stop(34%, rgba(248,80,50,1)), color-stop(100%, rgba(173,179,11,1)));
background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 26%, rgba(248,80,50,1) 34%, rgba(173,179,11,1) 100%);
background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 26%, rgba(248,80,50,1) 34%, rgba(173,179,11,1) 100%);
background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 26%, rgba(248,80,50,1) 34%, rgba(173,179,11,1) 100%);
background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 26%, rgba(248,80,50,1) 34%, rgba(173,179,11,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#adb30b', GradientType=1 );
}
  
